Document ID prefixed with '!' and Invalid Sync Gateway Channel Name

ToDoLite Sync Function constructs the list channel name with document id as below:
```
channel("list-"+doc._id);
```

CouchbaseLite iOS now prefixes auto-generated doc id with '!' which is an invalid channel name character per Sync Gateway error and code.

iOS Code:
```
NSString* CBLCreateUUID() {
    // Generate 136 bits of entropy in base64:
    uint8_t random[17];
    SecRandomCopyBytes(kSecRandomDefault, sizeof(random), random);
    NSMutableString* uuid = [[CBLBase64 encode: random length: sizeof(random)] mutableCopy];
    // Trim the two trailing '=' padding characters:
    [uuid deleteCharactersInRange: NSMakeRange(22, 2)];
    // URL-safe character set per RFC 4648 sec. 5:
    [uuid replaceOccurrencesOfString: @"/" withString: @"_" options: 0 range: NSMakeRange(0, 22)];
    [uuid replaceOccurrencesOfString: @"+" withString: @"-" options: 0 range: NSMakeRange(0, 22)];
    // prefix a '!' to make it more clear where this string came from and prevent having a leading
    // '_' character:
    [uuid insertString: @"!" atIndex: 0];
    return uuid;
}
```

Sync Gateway Error:
```
Sync fn exception: 400 Illegal channel name "list-!PFKKjBh3cQPBJXOTHVXeA4"; doc = map[owner:p:10152858188888982 _id:!PFKKjBh3cQPBJXOTHVXeA4 _rev:2-438202585840191499733284370fe2f6 created_at:2015-04-15T00:49:07.519Z title:MyList type:list _revisions:map[ids:[438202585840191499733284370fe2f6 040a9b91a784b3b7ce983a6ec70b03bd] start:%!s(float64=2)]] -- db.(*Database).getChannelsAndAccess() at crud.go:732
```

Sync Gateway's Channel name validation Regexp:
https://github.com/couchbase/sync_gateway/blob/a0e752ccc01bf7fb8d97d67d7c1d52c75855f29f/src/github.com/couchbase/sync_gateway/channels/set.go#L36
```
kValidChannelRegexp, err = regexp.Compile(`^([-+=/_.@\p{L}\p{Nd}]+|[\*\!])$`)
```

Crap. I guess we can change the naming convention for the UUIDs. I wanted to add some unusual character to the doc IDs as a prefix to indicate that they're auto-generated UUIDs, since otherwise they can contain arbitrary alphanumeric strings. Maybe use "-" instead?

I'm think about "-" or "=". I will test to make sure that the picked option works fine as it seems we are using the id in a few other places as well.